body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.host-only-class {
  background-color: blue;
  width: 200px;
  height: 200px;
}
